//
.accordion-group {
}
.accordion {
    border-bottom: 1px solid var(--md-sys-color-on-surface-variant);
    padding: var(--space-all-card);
    &__header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // padding: 1rem 0;
        // background: none;
        // border: none;
        cursor: pointer;
    }

    &__title {
        font-size: var(--font-size-xxl);
    }

    &__content {
    }

    &__inner {
        padding-top: var(--space-y-card);
    }

    [class*="_icon-"] {
        color: tomato;
    }
}

/* Стили остаются без изменений */
.accordion {
}
.accordion__header {
}
.accordion__title {
}
.accordion[data-open] .accordion__icon {
    transform: rotate(180deg);
}
.accordion__content {
    will-change: height;
    overflow: hidden;
    transition: height 0.3s ease;
}
.accordion__inner {
    //padding-bottom: 1rem;
}

.accordion__icon {
    transition: transform 0.3s ease;
}
