---
import { Image } from "astro:assets";

import aboutImg from "@assets/images/content/bg-01.jpg";
import aboutImg2 from "@assets/images/content/bg-02.jpg";
import aboutImg3 from "@assets/images/content/bg-03.jpg";
---
<div class="about">
    <div class="about__container">
        <div class="about__header">
            <h3 class="about__title">About title</h3>
            <h3 class="about__subtitle">About subtitle</h3>
        </div>
        <div class="about__card-grup">

            <div class="about__wrap-img">
                <Image class="about__img" src={aboutImg} alt="foto about" />
            </div>
            <div class="about__wrap-img">
                <Image class="about__img" src={aboutImg2} alt="foto about" />
            </div>
            <div class="about__wrap-img">
                <Image class="about__img" src={aboutImg3} alt="foto about" />
            </div>
        </div>
    </div>
</div>

<style lang="scss">
    //@use "@styles/base/mixins/grid.scss" as *;

.about {

		&__container {
        }
        
		&__card-grup {
            //@include grid-3-columns(24px);
		}

		&__header {
		}

		&__title {
            font-size: var(--font-size-xxxl);
            font-weight: var(--font-weight-bold);
		}

		&__subtitle {
		}

		&__img {
            height: auto;
            width: 100%;
            aspect-ratio: 4/3;
            object-fit: contain;
		}

		&__wrap-img {
            width: 100%;
            overflow: hidden;
            background: var(--md-sys-color-tertiary-container);
		}
}



</style>
