---
import TitleSections from "../ui/TitleSections.astro";

const titleSection = "НАТИВНЫЙ HTML+CSS3+JS";
const subTitleSection = "Преимущества использования нативного HTML+CSS3+JS перед конструкторами сайтов включают";
---
<div class="advantages">
    <div class="advantages__container">
        <TitleSections titleSection={titleSection} subTitleSection={subTitleSection} />
    </div>
</div>

