---
//import "@styles/components/hero.scss"
import { Image } from "astro:assets";

import HeroImg from "@assets/images/content/hero-01.png";
const heroTitleMobile = "";
---
<div class="hero">
    <div class="hero__container">
        <div class="hero__header">
            <h1 class="hero__title">Сайты в ваш бизнес</h1>
            <h2 class="hero__subtitle"><span class="hero__subtitle--mobile">Уникальные <span class="accent">продающие сайты</span></span> без использования конструкторов</h2>
        </div>
        <div class="hero__body">
            <div class="hero__info">
                <h3 class="hero__info-title">Гибкие цены, акции и пакетные предложения</h3>
                <ul class="hero__info-list">
                    <li class="hero__info-item"> <span class="_icon-checkbox-checked"></span>Современный</li>
                    <li class="hero__info-item"> <span class="_icon-checkbox-checked"></span>Адаптивный</li>
                    <li class="hero__info-item"> <span class="_icon-checkbox-checked"></span>Кроссбраузерный</li>
                    <li class="hero__info-item"> <span class="_icon-checkbox-checked"></span>Масштабируемый</li>
                    <li class="hero__info-item"> <span class="_icon-checkbox-checked"></span>Индивидуальный</li>
                </ul>
                <div class="hero__info-wrap-btn">
                    <button type="submit" class="button">Узнать стоимость</button>
                    <span class="hero__info-text">Предварительный расчёт за 15 минут</span>
                </div>
            </div>
            <div class="hero__wrap-img">
                <Image class="hero__img" src={HeroImg} alt="главное изображение страницы" />
            </div>
        </div>
    </div>
</div>

