---

---

<div class="services">
    <div class="services__container">
        <div class="services__card">
            <h3 class="services__card-title">Дизайн</h3>
            <div class="services__card-body">
                <div class="services__card-images">
                    <img class="services__card-img" src="" alt="foto services">
                </div>
                <div class="services__card-content">
                    <p class="services__card-text">Создам уникальный и привлекательный визуальный облик вашего сайта, обеспечивая его функциональность и удобство исполь...</p>
                </div>
                <div class="services__card-footer">
                    <button type="submit" class="button button--text">Подробнее</button>
                </div>
            </div>
        </div>
        <div class="services__card">
            <h3 class="services__card-title">Верстка</h3>
            <div class="services__card-body">
                <div class="services__card-images">
                    <img class="services__card-img" src="" alt="foto services">
                </div>
                <div class="services__card-content">
                    <p class="services__card-text">Создам уникальный и привлекательный визуальный облик вашего сайта, обеспечивая его функциональность и удобство исполь...</p>
                </div>
                <div class="services__card-footer">
                    <button type="submit" class="button button--text">Подробнее</button>
                </div>
            </div>
        </div>
        <div class="services__card">
            <h3 class="services__card-title">Интеграция CMS</h3>
            <div class="services__card-body">
                <div class="services__card-images">
                    <img class="services__card-img" src="" alt="foto services">
                </div>
                <div class="services__card-content">
                    <p class="services__card-text">Создам уникальный и привлекательный визуальный облик вашего сайта, обеспечивая его функциональность и удобство исполь...</p>
                </div>
                <div class="services__card-footer">
                    <button type="submit" class="button button--text">Подробнее</button>
                </div>
            </div>
        </div>
        <div class="services__card">
            <h3 class="services__card-title">Контент менеджмент</h3>
            <div class="services__card-body">
                <div class="services__card-images">
                    <img class="services__card-img" src="" alt="foto services">
                </div>
                <div class="services__card-content">
                    <p class="services__card-text">Создам уникальный и привлекательный визуальный облик вашего сайта, обеспечивая его функциональность и удобство исполь...</p>
                </div>
                <div class="services__card-footer">
                    <button type="submit" class="button button--text">Подробнее</button>
                </div>
            </div>
        </div>
        <div class="services__card">
            <h3 class="services__card-title">Публикация в сети</h3>
            <div class="services__card-body">
                <div class="services__card-images">
                    <img class="services__card-img" src="" alt="foto services">
                </div>
                <div class="services__card-content">
                    <p class="services__card-text">Создам уникальный и привлекательный визуальный облик вашего сайта, обеспечивая его функциональность и удобство исполь...</p>
                </div>
                <div class="services__card-footer">
                    <button type="submit" class="button button--text">Подробнее</button>
                </div>
            </div>
        </div>
        <div class="services__card">
            <h3 class="services__card-title">Поддержка</h3>
            <div class="services__card-body">
                <div class="services__card-images">
                    <img class="services__card-img" src="" alt="foto services">
                </div>
                <div class="services__card-content">
                    <p class="services__card-text">Создам уникальный и привлекательный визуальный облик вашего сайта, обеспечивая его функциональность и удобство исполь...</p>
                </div>
                <div class="services__card-footer">
                    <button type="submit" class="button button--text">Подробнее</button>
                </div>
            </div>
        </div>
    </div>
</div>