---

---

<div class="website-types">
    <div class="website-types__container">
        <div class="website-types__card">
            <div class="website-types__wrap-images">
                <img class="website-types__images" src="" alt="foto">
            </div>
            <div class="website-types__content">
                <h3 class="website-types__title">Лендинг</h3>
                <div class="website-types__paragraph">
                    <p class="website-types__text">Лендинг (Landing Page) - это специально разработанная веб-страница, которая имеет узкую специализацию и фокусируется на определенной цели, такой как сбор контактных данных, продажа продукта или услуги, регистрация на мероприятие и т. д. </p>
                    <p class="website-types__text">Имеют простую и интуитивно понятную структуру, чтобы посетители могли легко получить необходимую информацию и выполнить желаемое действие. </p>
                    <p class="website-types__text">Лендинги являются эффективным инструментом маркетинга для достижения конкретных целей и увеличения конверсии.</p>
                </div>
            </div>
        </div>
        <div class="website-types__card">
            <div class="website-types__wrap-images">
                <img class="website-types__images" src="" alt="foto">
            </div>
            <div class="website-types__content">
                <h3 class="website-types__title">Тематический сайт</h3>
                <div class="website-types__paragraph">
                    <p class="website-types__text">Тематический сайт - это веб-ресурс, посвященный определенной теме, области или интересам. Он предоставляет полезную информацию, контент, продукты или услуги, связанные с данной темой. Тематические сайты могут быть посвящены различным областям, таким как спорт, культура, здоровье, туризм, мода, технологии и многое другое.</p>
                    <p class="website-types__text">Они могут содержать статьи, новости, обзоры, руководства, фотографии, видео и другие элементы, связанные с темой. Тематические сайты могут служить  платформой для предоставления продуктов или услуг, связанных с этой темой.</p>
                    <p class="website-types__text"></p>
                </div>
            </div>
        </div>
        <div class="website-types__card">
            <div class="website-types__wrap-images">
                <img class="website-types__images" src="" alt="foto">
            </div>
            <div class="website-types__content">
                <h3 class="website-types__title">Сайт визитка</h3>
                <div class="website-types__paragraph">
                    <p class="website-types__text">Сайт-визитка - это тип веб-сайта, который предназначен для представления компании, бренда, человека или организации в Интернете. Он обычно состоит из нескольких страниц и содержит основную информацию о бизнесе или личности.</p>
                    <p class="website-types__text">Сайт-визитка является своего рода виртуальной визитной карточкой или брошюрой, которая позволяет посетителям получить общее представление о предлагаемых услугах, продуктах или профессиональных навыках.</p>
                    <p class="website-types__text">Сайт-визитка может быть полезным инструментом для  представления профессиональных навыков и портфолио.</p>
                </div>
            </div>
        </div>
        <div class="website-types__card">
            <div class="website-types__wrap-images">
                <img class="website-types__images" src="" alt="foto">
            </div>
            <div class="website-types__content">
                <h3 class="website-types__title">Корпоративный сайт</h3>
                <div class="website-types__paragraph">
                    <p class="website-types__text">Корпоративный сайт - это веб-сайт, который создается для представления компании или организации в Интернете. </p>
                    <p class="website-types__text">Он служит визитной карточкой компании и предоставляет информацию о ее деятельности, продуктах или услугах, контактных данных и других важных сведениях. Корпоративные сайты обычно имеют  дизайн, соответствующий корпоративному стилю и имиджу компании.</p>
                    <p class="website-types__text">Может содержать разделы, посвященные истории компании, команде, портфолио, новостям и событиям, блогу и другим разделам, в зависимости от потребностей и целей компании.</p>
                </div>
            </div>
        </div>
        <div class="website-types__card">
            <div class="website-types__wrap-images">
                <img class="website-types__images" src="" alt="foto">
            </div>
            <div class="website-types__content">
                <h3 class="website-types__title">Интернет магазин</h3>
                <div class="website-types__paragraph">
                    <p class="website-types__text">Интернет-магазины обеспечивают удобство покупки, позволяя пользователям совершать покупки в любое время и из любого места с доступом в Интернет.</p>
                    <p class="website-types__text">Он предоставляет возможность просмотра каталога товаров, выбора нужных товаров, оформления заказа и оплаты онлайн.</p>
                    <p class="website-types__text">Интернет-магазины обычно предлагают широкий ассортимент товаров, включая одежду, электронику, косметику, продукты питания, бытовую технику и многое другое.</p>
                </div>
            </div>
        </div>
        <div class="website-types__card">
            <div class="website-types__wrap-images">
                <img class="website-types__images" src="" alt="foto">
            </div>
            <div class="website-types__content">
                <h3 class="website-types__title">Блог</h3>
                <div class="website-types__paragraph">
                    <p class="website-types__text">Блог может быть создан как для личного использования, так и для коммерческих целей. Блоги могут быть посвящены различным тематикам, таким как путешествия, кулинария, мода, технологии, финансы, здоровье и многое другое.</p>
                    <p class="website-types__text">Блог предоставляет возможность авторам поделиться своими знаниями и опытом с аудиторией, а также взаимодействовать с читателями через комментарии и обратную связь.</p>
                    <p class="website-types__text">Блог является важным инструментом для обмена информацией, развлечения и создания сообщества с единомышленниками.</p>
                </div>
            </div>
        </div>
    </div>
</div>