.icon {
    display: inline-block;
    font-family: "icomoon" !important; /* Подключенный иконочный шрифт */
    //speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
