---

import ThemeToggle from "../ui/ThemeToggle.astro";
import ContactsIcons from "../ui/social/ContactsIcons/ContactsIcons.astro";
import NavMenu from "../ui/navigation/NavMenu.astro";
import Logo from "../ui/Logo.astro";
const menuItems = [
    {
        title: 'Главная',
        url: '/'
        },
        {
        title: 'Галерея',
        url: '/gallery/'
        },
                {
        title: 'Новости',
        url: '/news/',
        children: [
            { title: 'Блог', url: '/posts/' },
            { title: 'Новости', url: '/news/news-history' }
        ]
    },
        {
        title: 'Контакты',
        url: '/contacts/'
        },
        
];
---
<div class="header">
    <div class="header__container">
        <div class="header__body">
            <div class="header__logo">
                <Logo />
            </div>
            <div class="header__nav">
                <NavMenu items={menuItems} />
            </div>
            <div class="header__contacts">
                <ContactsIcons />
            </div>
            <div class="header__burger">
                <span id="burgerButton" class="_icon-switch"></span>
            </div>
        </div>
        <div class="header__footer">
            <ThemeToggle initialTheme="light" />
        </div>
    </div>

</div>

<script>
  const burgerButton = document.getElementById('burgerButton');
  const navMenu = document.querySelector('.header__nav');
  const icon = document.querySelector('._icon-switch');

  burgerButton.addEventListener('click', () => {
    // Переключаем класс 'active' у навигации
    navMenu.classList.toggle('active');
    
    // Меняем цвет иконки
    if (navMenu.classList.contains('active')) {
      icon.style.color = 'var(--md-sys-color-error)';
    } else {
      icon.style.color = ''; // Возвращаем исходный цвет
    }
  });
</script>



