---
// components/NavMenu.astro
import Icon from '../icon/Icon.astro';
import Link from '../Link.astro'; // Ваш компонент ссылки

interface NavItem {
    title: string;
    url: string;
    children?: NavItem[];
}

const { items = [] } = Astro.props;
---

<nav class="nav-menu">
  <ul class="nav-menu__list">
    {
      items.map((item: NavItem) => (
        <li class={`nav-menu__item ${item.children ? 'has-dropdown' : ''}`}>
          <Link
            href={item.url}
            class="nav-menu__link"
            aria-expanded={item.children ? 'false' : null}
            aria-haspopup={item.children ? 'true' : null}
          >
            {item.title}
            {item.children && (
              <Icon name="_icon-arrow-right2" class="nav-menu__icon" />
            )}
          </Link>
          
          {item.children && (
            <ul class="nav-menu__submenu">
              {item.children.map((subItem: NavItem) => (
                <li class="nav-menu__subitem">
                  <Link href={subItem.url} class="nav-menu__sublink">
                    {subItem.title}
                  </Link>
                </li>
              ))}
            </ul>
          )}
        </li>
      ))
    }
  </ul>
</nav>

