---

const { titleSection, subTitleSection } = Astro.props;
---
<div class="title-sections__wrap">
    <h2 class="title-sections__title">{titleSection}</h2>
    <h3 class="title-sections__subtitle">{subTitleSection}</h3>
</div>